body {
    font-family: Ubuntu, 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}


body .header {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 0;
}

.header p {
    font-weight: 800;
    font-size: 24px;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 16px;
    margin-left: auto;
}



.content {
    margin: 64px auto;
    max-width: 1200px;
}



.background-first {
    background-color: #1f2937;
}

.background-third {
    background-color: #e5e7eb;
}


.first {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
    width: 80%;
}

.big-text {
    font-size: 48px;
    font-weight: 900;
}

.small-text {
    font-size: 18px;
}

.left-side-first-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.right-side-first-section img{
    width: 600px;
    height: 300px;
}


.second {
    display: flex;
    gap: 32px;
    border-radius: 50%;
    margin-top: 32px;
    flex-wrap: wrap;
}

.title-second-section {
    display: flex;
    justify-content: center;
    margin: 32px auto;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.image-random-info {
    max-width: 200px;
    text-align: center;
}

.image-random-info img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

.third {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 64px auto;
    flex-wrap: wrap;
}

.fourth {
    display: flex;
    margin: 64px auto;
    justify-content: space-between;
    color: white;
    background-color: #3882f6;
    border-radius: 8px;
    padding: 32px 80px;
    width: 50%;
}



.quote {
    font-style: italic;
    font-size: 36px;
}

.quote-owner {
    margin-left: auto;
    font-weight: 800;
}

.left-text-fourth-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.fourth button {
    border: 1px solid white;
}

.thick-text {
    font-weight: 800;
    font-size: 18px;
}



.footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    padding: 16px;
}



button {
    color: white;
    background-color: #3882f6;
    border: none;
    padding: 8px 16px;
    text-align: center;
    border-radius: 8px;
    font-weight: 600;
}

p {
    margin: 0;
}